* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    background-color:#333;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center
}

#leaderboard-container {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    min-width: 250px;
}

#debug-switch {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    color: white;
    border: none
}

.leaderboard h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    text-align: center;
}

.leaderboard-entry {
    display: grid;
    grid-template-columns: 30px 70px 80px 1fr;
    gap: 10px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.leaderboard-entry:last-child {
    border-bottom: none;
}

.leaderboard-entry span {
    font-size: 14px;
}

#app {
    position: relative;
    width: 1280px;
    height: 720px;
}

#app img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
